<!-- logo -->
<h1>
	<a href="index.html" title="avana LLC">LoveLetter</a>
</h1>
<!-- logo -->
<!-- nav -->
{% include "navbar.twig" with {'position': 'foot'} only %}
<!-- nav -->
<ul role="social-icons">
	<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
</ul>
<p class="copy-right">&copy; 2017 LoveLetter Cyril BASILE - Valentin BONNAL</p>
